@page "/"

@using web.HttpRepositories
@using web.Helpers
@using web.Models

@inject IProductHttpRepository productRepo

<h1> Welcome to SkiNet</h1>

@if (productPagination == null)
{
    <p>No Products Items found.</p>
}
else
{
    @foreach (var product in productPagination.Data)
    {
        <p>@product.Name</p>
    }
}

@code {

    private Pagination<ProductToReturnDto> productPagination;

    protected override async Task OnInitializedAsync()
    {
        productPagination = await productRepo.GetProducts();
    }

}

