@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="10"
                IconType="IconType.FontAwesome"
                ErrorIcon="fa fa-bug" 
                SuccessIcon="fa fa-thumbs-up"
                ShowProgressBar="true" />

<NavBar />
<web.Components.Core.SectionHeader></web.Components.Core.SectionHeader>
<div>
    @Body
</div>