@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="10"
                IconType="IconType.FontAwesome"
                ErrorIcon="fa fa-bug" 
                SuccessIcon="fa fa-thumbs-up"
                ShowProgressBar="true" />

<NavBar />
<div class="container" style="margin-top: 140px;">
    @Body
</div>